/*-------------------
    VARIABLES
-------------------*/
:root {
    // Colors
    --primary-color: #3aafbf;
    --secondary-color:#333c4e ;
    
}

.facebook{
    color: #3c5998;
    font-size: 35px;
}

.instagram{
    color: #3f729b;
    font-size: 35px;
}

.twitter{
    padding: 0 10px;
  font-size: 35px;
  color:#54acee;  
}

.youtube{
    font-size: 35px;
    color:#cd201f;
    padding-right: 10px;  
}

